* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #2C394B;
    --secondary-color: #A6D6D6;
    --tertiary-color: #2E4C6D;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--primary-color);
    height: 50px;
    width: 100%;
}

.logo-container {
    color: var(--secondary-color);
    margin: 10px 30px;
}

nav div {
    margin: 15px 30px;
}

.nav-menu-container {
    display: inline;
    list-style: none;
}

.nav-menu-container li {
    display: inline;
    list-style: none;
    text-decoration: none;
    margin-right: 30px;
}

.nav-menu-container li a {
    text-decoration: none;
    color: var(--secondary-color);
}


.hero {
    width: 100%;
    height: 300px;
    background: url(./images/hero-bg.jpg) no-repeat center;
    background-size: 100%;
    
}

.hero-title{
    color: white;
    float: right;
    margin-bottom: 0;
    margin-top: 10%;
    padding-right: 100px;
}

.aboutMe {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}

.aboutMe h1 {
    font-size: 40px;
    text-align: right;
    margin-top: 20px;
    color: var(--tertiary-color);
}

.aboutMe p {
    margin: 25px 25px 25px 25px;
    color: var(--tertiary-color);
    border-left: 3px solid var(--tertiary-color);
    padding-left: 25px;
}

.myWork {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}

.myWork h1 {
    font-size: 40px;
    text-align: right;
    margin-top: 20px;
    margin-left: 8px;
    color: var(--tertiary-color);
}

.work {
    display: flex;
    flex-wrap: wrap;
    margin: 25px 25px 25px 25px;
    color: var(--tertiary-color);
    border-left: 3px solid var(--tertiary-color);
}

.work-1 h2 {
    width: 200px;
    color: white;
    background-color: #2E4C6D;
}

.work-1 {
    width: 970px;
    height: 500px;
    margin-left: 25px;
    background: url(./images/work1.jpg) no-repeat center;
    background-size: 100%;
    background-color: var(--primary-color);
}

.work-container {
    width: 473px;
    height: 200px;
    margin: 25px 0px 25px 25px;
    background: url(./images/work1.jpg) no-repeat center;
    background-size: 100%;
}

footer {
    display: flex;
}

.footer-contacts {
    display: flex;
    flex-wrap: wrap;
    width: 1050px;
    justify-content: space-around;
    margin: 25px 25px 25px 30px;
    color: var(--tertiary-color);
    border-left: 3px solid var(--tertiary-color);
    padding-left: 15px;
}

footer h1 {
    width: 200px;
    display: flex;
    font-size: 40px;
    text-align: right;
    margin-top: 20px;
    color: var(--tertiary-color);
}

footer p {
    margin: 25px 25px 25px 25px;
    color: var(--tertiary-color);
    border-bottom: 3px solid var(--tertiary-color);
    padding: 0px; 
}
